@import "tailwindcss";
@import "./styles/red.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
}

body {
  background: #ffffff;
  color: #171717;
}
